*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{

}
.wrapper__container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.wrapper__center{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border: 1px solid black;
}



.wrapper__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}